@charset "UTF-8";
@import url(normalize.css/normalize.css);
/*
반응형 믹스인!

@include respond-to(handhelds) {
}
@include respond-to(medium-screens) {
}
@include respond-to(wide-screens) {
}
*/
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f3f5;
  color: #212529;
  line-height: 1.7;
  vertical-align: middle; }
  @media only screen and (max-width: 480px) {
    html, body {
      font-size: 14px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    html, body {
      font-size: 16px; } }
  @media only screen and (min-width: 840px) {
    html, body {
      font-size: 18px; } }

h1, h2, h3, h4 {
  word-break: keep-all; }

h5, h6 {
  display: none; }

hr {
  border: none;
  border-top: 1px solid #dee2e6; }

.topnav {
  height: 3rem;
  border-bottom: 1px solid #dee2e6;
  background-color: #fff; }
  .topnav__logo {
    display: block;
    float: left;
    background-image: url("../images/emazine_blue.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 480px) {
      .topnav__logo {
        margin-left: 20px;
        margin-top: 15px;
        height: 5.31rem;
        width: 9.288rem; } }
    @media only screen and (min-width: 481px) and (max-width: 839px) {
      .topnav__logo {
        margin-left: 20px;
        margin-top: 15px;
        height: 5.31rem;
        width: 9.288rem; } }
    @media only screen and (min-width: 840px) {
      .topnav__logo {
        margin-left: 20px;
        margin-top: 15px;
        height: 5.31rem;
        width: 9.288rem; } }
  .topnav__links {
    float: right; }
    .topnav__links a {
      display: inline-block;
      line-height: 3rem;
      vertical-align: middle;
      margin-right: 2rem; }
      .topnav__links a, .topnav__links a:visited, .topnav__links a:active, .topnav__links a:hover {
        color: #adb5bd;
        text-decoration: none; }
  .topnav:after {
    display: table;
    content: '';
    clear: both; }

.main {
  background-color: #fff;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 480px) {
    .main {
      padding-top: 5rem; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .main {
      padding-top: 1.5rem; } }
  @media only screen and (min-width: 840px) {
    .main {
      padding-top: 1.5rem; } }

.article {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 480px) {
    .article {
      padding: 0 15px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .article {
      padding: 0 20px; } }
  @media only screen and (min-width: 840px) {
    .article {
      max-width: 800px; } }
  @media only screen and (max-width: 480px) {
    .article {
      font-size: 14px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .article {
      font-size: 16px; } }
  @media only screen and (min-width: 840px) {
    .article {
      font-size: 18px; } }
  .article__title {
    margin-top: 0.2rem;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center; }
  .article__categories {
    text-align: right;
    margin-bottom: 1rem;
    margin-right: -1rem; }
    .article__categories__icon {
      margin-right: 0.2rem; }
    .article__categories-list, .article__categories-list-child {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline; }
    .article__categories-list-item {
      display: inline; }
    .article__categories-list-link {
      font-size: 0.8em !important;
      margin-right: 1rem; }
      .article__categories-list-link, .article__categories-list-link:visited, .article__categories-list-link:active, .article__categories-list-link:hover {
        color: #adb5bd !important; }
  .article .author {
    text-align: right;
    color: #adb5bd; }
    .article .author__title::before {
      display: inline;
      content: ' ('; }
    .article .author__title::after {
      display: inline;
      content: ')'; }
  .article sup {
    margin: 0 2px; }
  .article a, .article a:visited, .article a:active, .article a:hover {
    color: #329af0;
    text-decoration: none; }
  .article p img {
    display: block;
    max-width: 100%;
    margin: 2em auto; }
  .article p {
    text-indent: 1rem;
    letter-spacing: 0.03rem; }
  .article blockquote {
    border-left: 3px solid #dee2e6;
    color: #adb5bd;
    font-style: italic;
    padding-left: 1rem; }
    .article blockquote p {
      text-indent: 0; }
  .article .katex-display > .katex {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal; }
  .article .katex {
    letter-spacing: normal;
    line-height: 1.7;
    color: #212529; }
  .article .katex {
    margin-left: 0.1rem;
    margin-right: 0.1rem; }
  .article .katex-display {
    margin-top: 0rem;
    padding-top: 1rem;
    margin-bottom: -1rem; }
  .article .footnote__list {
    list-style: none;
    padding-left: 0;
    letter-spacing: 0.03rem; }
  .article .footnote__index {
    color: #adb5bd; }

.footer {
  overflow: hidden;
  border-top: 1px solid #dee2e6;
  background-color: #f1f3f5; }
  .footer a, .footer a:visited, .footer a:active, .footer a:hover {
    color: #329af0;
    text-decoration: none; }
  .footer__inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 480px) {
      .footer__inner {
        padding: 0 15px; } }
    @media only screen and (min-width: 481px) and (max-width: 839px) {
      .footer__inner {
        padding: 0 20px; } }
    @media only screen and (min-width: 840px) {
      .footer__inner {
        max-width: 800px; } }
  .footer__logo {
    margin-bottom: 1rem;
    text-indent: -9999px;
    width: 16.08rem;
    height: 2.5rem;
    background-image: url("../images/footer_main.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; }
  .footer__info {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0; }
    .footer__info__block {
      display: inline-block;
      margin-right: 0.5rem; }

.octicon {
  font-size: 1em;
  vertical-align: 0%;
  line-height: inherit; }

.post-list {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 480px) {
    .post-list {
      padding: 0 15px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .post-list {
      padding: 0 20px; } }
  @media only screen and (min-width: 840px) {
    .post-list {
      max-width: 800px; } }
  .post-list__year-divider__icon {
    margin-right: 0.2em; }
  .post-list__category-divider__icon {
    margin-right: 0.2em; }
  .post-list__item {
    display: flex; }
    .post-list__item__date {
      min-width: 10ch;
      color: #adb5bd;
      margin-right: 0em; }
    .post-list__item__title {
      word-break: keep-all; }
      .post-list__item__title, .post-list__item__title:visited, .post-list__item__title:active, .post-list__item__title:hover {
        color: #329af0;
        text-decoration: none; }

.category-page__title {
  margin-left: auto;
  margin-right: auto;
  font-size: 2em; }
  @media only screen and (max-width: 480px) {
    .category-page__title {
      padding: 0 15px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .category-page__title {
      padding: 0 20px; } }
  @media only screen and (min-width: 840px) {
    .category-page__title {
      max-width: 800px; } }

.heroArea {
  background-image: url("../images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 480px) {
    .heroArea {
      height: 300px; } }
  @media only screen and (min-width: 481px) and (max-width: 839px) {
    .heroArea {
      height: 500px; } }
  @media only screen and (min-width: 840px) {
    .heroArea {
      height: 800px; } }
