@import 'normalize.css/normalize.css';
@import './variables';
@import './mixins';

/*
반응형 믹스인!

@include respond-to(handhelds) {
}
@include respond-to(medium-screens) {
}
@include respond-to(wide-screens) {
}
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $footer-bg-color;
  color: $main-text-color;
  // text-align: justify;
  line-height: 1.7;
  vertical-align: middle;
  @include respond-to(handhelds) {
    font-size: 14px;
  }
  @include respond-to(medium-screens) {
    font-size: 16px;
  }
  @include respond-to(wide-screens) {
    font-size: 18px;
  }
}

h1, h2, h3, h4 {
  word-break: keep-all;
}

h5, h6 {
  display: none;
}

hr {
  border: none;
  border-top: 1px solid $main-border-color;
}

@mixin main-spacer {
  margin-left: auto;
  margin-right: auto;
  @include respond-to(handhelds) {
    padding: 0 15px;
  }
  @include respond-to(medium-screens) {
    padding: 0 20px;
  }
  @include respond-to(wide-screens) {
    max-width: 800px;
  }
}

.topnav {
  $height: 3rem;
  height: $height;
  border-bottom: 1px solid $main-border-color;
  background-color: $main-bg-color;
  &__logo {
    display: block;
    float: left;
    background-image: url('../images/emazine_blue.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    $image-height: 295;
    $image-width: 516;
    @include respond-to(handhelds) {
      margin-left: 20px;
      margin-top: 15px;
      height: $image-height * 0.018rem;
      width: $image-width * 0.018rem;
    }
    @include respond-to(medium-screens) {
      margin-left: 20px;
      margin-top: 15px;
      height: $image-height * 0.018rem;
      width: $image-width * 0.018rem;
    }
    @include respond-to(wide-screens) {
      margin-left: 20px;
      margin-top: 15px;
      height: $image-height * 0.018rem;
      width: $image-width * 0.018rem;
    }
  }
  &__links {
    float: right;
    a {
      display: inline-block;
      line-height: $height;
      vertical-align: middle;
      margin-right: 2rem;
      &, &:visited, &:active, &:hover {
        color: $light-text-color;
        text-decoration: none;
      }
    }
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.main {
  background-color: $main-bg-color;
  padding-bottom: 4rem;
  @include respond-to(handhelds) {
    padding-top: 5rem;
  }
  @include respond-to(medium-screens) {
    padding-top: 1.5rem;
  }
  @include respond-to(wide-screens) {
    padding-top: 1.5rem;
  }
}

.article {
  // word-break: keep-all; // 단어 단위로 줄바꿈 하고 싶은 경우 주석 해제
  @include main-spacer;
  @include respond-to(handhelds) {
    font-size: 14px;
  }
  @include respond-to(medium-screens) {
    font-size: 16px;
  }
  @include respond-to(wide-screens) {
    font-size: 18px;
  }
  &__title {
    margin-top: 0.2rem;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }
  &__categories {
    text-align: right;
    margin-bottom: 1rem;
    margin-right: -1rem;
    &__icon {
      margin-right: 0.2rem;
    }
    &-list, &-list-child {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline;
    }
    &-list-item {
      display: inline;
    }
    &-list-link {
      font-size: 0.8em !important;
      margin-right: 1rem;
      &, &:visited, &:active, &:hover {
        color: $light-text-color !important;
      }
    }
  }
  .author {
    text-align: right;
    color: $light-text-color;
    &__title::before {
      display: inline;
      content: ' (';
    }
    &__title::after {
      display: inline;
      content: ')';
    }
  }

  sup {
    margin: 0 2px;
  }

  a {
    @include link-style;
  }

  p img {
    display: block;
    max-width: 100%;
    margin: 2em auto;
  }

  p {
    text-indent: 1rem;
    letter-spacing: 0.03rem;
  }

  blockquote {
    border-left: 3px solid $main-border-color;
    color: $light-text-color;
    font-style: italic;
    padding-left: 1rem;
    p {
      text-indent: 0;
    }
  }

  .katex-display > .katex {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
  }
  .katex {
    letter-spacing: normal;
    line-height: 1.7;
    color: $latex-color;
  }
  .katex {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
  .katex-display {
    margin-top: 0rem;
    padding-top: 1rem;
    margin-bottom: -1rem;
  }
  .footnote {
    &__list {
      list-style: none;
      padding-left: 0;
      letter-spacing: 0.03rem;
    }
    &__index {
      color: $light-text-color;
    }
  }
}

.footer {
  overflow: hidden;
  border-top: 1px solid $main-border-color;
  background-color: $footer-bg-color;
  a {
    @include link-style;
  }
  &__inner {
    @include main-spacer;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__logo {
    margin-bottom: 1rem;
    $logo-width: 1608;
    $logo-height: 250;
    text-indent: -9999px;
    width: $logo-width * 0.01rem;
    height: $logo-height * 0.01rem;
    background-image: url('../images/footer_main.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__info {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    &__block {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}

.octicon {
  font-size: 1em;
  vertical-align: 0%;
  line-height: inherit;
}

.post-list {
  @include main-spacer;
  &__year-divider {
    // color: $light-text-color;
    &__icon {
      margin-right: 0.2em;
    }
  }
  &__category-divider {
    &__icon {
      margin-right: 0.2em;
    }
  }
  &__item {
    display: flex;
    &__date {
      min-width: 10ch;
      color: $light-text-color;
      margin-right: 0em;
    }
    &__title {
      @include link-style;
      word-break: keep-all;
    }
  }
}

.category-page {
  &__title {
    @include main-spacer;
    font-size: 2em;
  }
}

.heroArea {
  @include respond-to(handhelds) {
    height: 300px;
  }
  @include respond-to(medium-screens) {
    height: 500px;
  }
  @include respond-to(wide-screens) {
    height: 800px;
  }
  background-image: url('../images/hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
