@import 'normalize.css/normalize.css';
@import './variables';
@import './mixins';

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  // text-align: justify;
  line-height: 1.8;
  vertical-align: middle;
}

.article {
  margin: 0 auto;
  color: $main-text-color;
  // word-break: keep-all; // 단어 단위로 줄바꿈 하고 싶은 경우 주석 해제
  @include respond-to(handhelds) {
    padding: 0 15px;
    font-size: 14px;
  }
  @include respond-to(medium-screens) {
    padding: 0 20px;
    font-size: 16px;
  }
  @include respond-to(wide-screens) {
    max-width: 800px;
    font-size: 18px;
  }
  &__title {
    margin-top: 0.2em;
    font-size: 2em;
    text-align: center;
    word-break: keep-all;
  }
  &__categories {
    &__icon {
      margin-right: 0.2em;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline;
    }
    li {
      display: inline;
    }
    a.article__categories-list-link {
      font-size: 0.8em !important;
      margin-right: 1em;
      &, &:visited, &:active, &:hover {
        color: $light-text-color;
      }
    }
  }
  .author {
    text-align: right;
    color: $light-text-color;
    &__title::before {
      display: inline;
      content: ' (';
    }
    &__title::after {
      display: inline;
      content: ')';
    }
  }

  sup {
    margin: 0 2px;
  }

  a {
    &, &:visited, &:active, &:hover {
      color: $link-color;
      text-decoration: none;
    }
  }

  p {
    text-indent: 1em;
    letter-spacing: 0.03em;
  }

  .katex-display > .katex {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: normal;
  }
  .katex {
    letter-spacing: normal;
    line-height: 2;
    color: $latex-color;
  }
  .katex {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
  .katex-display {
    margin-top: 0em;
    padding-top: 1em;
    margin-bottom: -1em;
  }
  .footnote {
    &__list {
      list-style: none;
      padding-left: 0;
    }
    &__index {
      color: $light-text-color;
    }
  }
}
