footer.footer
  .footer__inner
    p.footer__logo 서울대학교 수학교육센터
    p.footer__info
      span.footer__info__block 08826 서울시 관악구 관악로1 서울대학교 사범대학 수학교육과
      span.footer__info__block TEL #[a(href='tel:02-880-7737') 02-880-7737] | FAX #[a(href='fax:02-889-1747') 02-889-1747]
    p.footer__info 문의 메일: #[a(href='mailto:snume.emazine@gmail.com') snume.emazine@gmail.com]
    p.footer__info 글 게시 관련 문의: #[a(href='mailto:webzine.post@gmail.com') webzine.post@gmail.com]
