.post-list__item
  span.post-list__item__date= date(post.date, 'YYYY-M-D')
  a.post-list__item__title(href=url_for(post.path))
    span= post.title
    if post.author
      span  - #{post.author.name}
